@charset "UTF-8";

body {
    text-align: justify;
    background-color: rgb(255, 239, 217);
    background-image: linear-gradient(to right, #dcd4b3, #deb668c1);
}

main {
    margin: auto;
    width: 600px;
    background-color: rgb(248, 229, 201);
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(156, 137, 112, 0.511);
}

header {
    width: 600px;
    margin: auto;
    text-align: center;
    color: rgb(78, 42, 6);
    text-shadow: 0px 10px 15px rgba(156, 137, 112, 0.511);
    font-family: sans-serif;
}

footer {
    padding: 30px;
    margin: auto;
    text-align: center;
    color: rgb(78, 42, 6);
    text-shadow: 0px 10px 15px rgba(156, 137, 112, 0.511);
    font-family: sans-serif;
}